.page-questions h2 {
  font-size: 1.2em;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.ev-header {
  font-size: 22px;
  font-weight: bold;
}
.ev-text {
  font-weight: bold;
}
.center {
  text-align: center;
  font-size: 14px;
  color: black;
}
.strong {
  font-size: 26px;
}
.absoluteLink {
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.container-md {
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}
.content-instructions {
  background-color: #519dbd;
  color: white;
  min-height: 92%;
}
.content-instructions h2 {
  margin: 0 auto;
  margin-top: 57px;
  font-size: 45px;
  font-weight: lighter;
}
.content-instructions p {
  font-size: 1em;
}
.content-instructions .instructions {
  min-height: 100px;
}
.steps > div * {
  text-align: center;
}
.steps > div h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5em;
  margin: 0;
}

.content-evaluation {
  background-color: #f7f7f7;
  min-height: calc(100% - 145px);
  padding: 2% 5%;
}
.content-evaluation md-content {
  background-color: #f7f7f7;
}

md-tabs[md-border-bottom] md-tabs-wrapper {
  border-style: none !important;
}
.md-tab {
  background-color: #519dbd;
  border-radius: 50%;
  line-height: 10px;
  margin: 10px 5px;
  padding: 10px;
  color: #fff !important;
}
md-tabs-canvas {
  display: none !important;
}
.md-center-tabs {
  width: 100% !important;
}

.evaluation h1 {
  font-family: "lato-light";
  font-weight: normal;
}
.evaluation h1 strong {
  font-family: "lato-bold";
  font-weight: bold;
}
.evaluation-options {
  width: 100%;
  padding-top: 10px;
  margin: 50px 0;
}
.categories {
  border: solid 1px #d2d2d2;
  min-height: 350px;
  background-color: #d2d2d2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  transition: background 0.5s linear;
}
.categories * {
  text-align: center;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.categories:hover {
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  background-color: #519dbd;
}
.categories::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transform-origin: left;
  transition: width 0.25s ease;
  z-index: -1;
}

.categories:hover::after {
  width: 100%;
}
.categories:hover h3 {
}
.categories:after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0px;
  background-color: #519dbd;
  left: 0;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.iconWrapper {
  width: 80px;
  line-height: 80px;
  border-radius: 5px;
  color: #fff;

  font-size: 2em;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.page-questions {
  width: 100%;
}

.evaluation-end {
  height: 500px;
}
.evaluation-end h1 {
  font-family: "lato-light";
  font-weight: normal;
}
.evaluation-end h1 strong {
  font-family: "lato-bold";
  font-weight: bold;
}
.evaluation-end h2 {
  text-align: center;
}
.evaluation-end hr {
  width: 80%;
  max-width: 500px;
  border-color: #519dbf;
}
.evaluation-end p {
  text-align: center;
}
.evaluation-end .md-button {
  border: solid 2px #519dbf;
  color: #519dbf;
  font-weight: bold;
  width: 200px;
}
.evaluation-end .md-button:hover {
  background-color: #519dbf !important;
  color: #fff;
}
.evaluation-results h1 {
  font-family: "lato-light";
  font-weight: normal;
}
.evaluation-results h1 strong {
  font-family: "lato-bold";
  font-weight: bold;
}
.evaluation-results h2 {
  font-family: "lato-light";
  font-weight: normal;
}
.evaluation-results h2 span {
  color: #519dbf;
  font-weight: bold;
}
.evaluation-results h2 strong {
  font-family: "lato-bold";
  font-weight: bold;
}

.evaluation-results .risk-image {
  max-width: 200px;
}
.evaluation-results .risk-image img {
  width: 100%;
}
/**/
#eq {
  overflow: hidden;
  margin-bottom: 50px;
}
.eq-pages {
  margin-top: 50px;
  padding: 0;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.eq-page {
  float: left;
}
.eq-page > md-content {
  width: 100%;
}
.eq-page h2 {
  margin: 0;
}
.eq-page p {
  margin: 5px 0;
}
.evaluation-page input {
  width: 90%;
  font-size: 1.2em;
  padding: 10px 15px;
  border-radius: 5px;
  border: solid 1px;
}
.eq-one-column {
}
.q-double-column {
}

.eq-x {
  color: #519dbf;
}
.eq-x:after {
  content: "*";
}
.eq-buttons {
  margin: 1em 0;
}
.eq-prev,
.eq-next {
  color: #fff;
  background-color: #acacac;
}
.eq-next {
  background-color: #519dbf;
}
.eq-prev:hover {
  background-color: rgba(172, 172, 172, 0.8) !important;
}
.eq-next:hover {
  background-color: rgba(81, 157, 192, 0.8) !important;
}
.eq-completed {
  position: relative;
  margin-bottom: 1em;
  height: 40px;
}
.eq-bar {
  position: absolute;
  width: 300px;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.eq-graybar {
  background-color: #e7e7e7;
  height: 20px;
  position: relative;
}
.eq-bluebar {
  transition: all 2s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #519dbf;
  position: absolute;
  height: 20px;
  left: 0;
  width: 0%;
}
.eq-percentage {
  text-align: center;
  text-transform: uppercase;
  color: #519dbf;
  font-weight: bold;
}

md-radio-button > div {
  left: 0 !important;
  right: 0 !important;
  /* margin: 0 auto !important; */
}

.multiradio-column md-radio-button > div {
  margin: 0 auto !important;
}

form-question {
  margin-bottom: 1.2em;
}

.fq {
  margin-bottom: 1.2em;
}
.fq .even {
  background-color: #a4cada;
}
.fq p {
  padding-left: 10px;
  font-weight: bold;
}
.fq-options {
  margin-bottom: 15px;
  font-weight: bold;
}
.fq-head {
  padding: 0 5px;
  text-align: center;
  font-size: 0.8em;
}

.animate-enter,
.animate-leave {
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.animte-enter.animte-enter-active {
  opacity: 1;
}
.animte-leave.animte-leave-active {
  opacity: 1;
}

@media screen and (max-width: 960px) {
  .fq-radio-group {
    min-height: 60px;
  }
  .fq-question {
    font-size: 20px;
  }
}


.options-icon{
  margin: 25px;
}

.options-icon.view .no-margin{
  margin: 0;
}

.options-icon.view h2{
  font-size: 1.8em;
}

.options-icon .option-icon{
  background-color: #d2d2d2;
  margin: 0 20px;
  padding: 30px;
  cursor: pointer;
}


.options-icon .option-icon:hover,
.options-icon .option-icon.selected{
  background-color: #519dbd;
}

.options-icon .option-icon h3,
.options-icon .option-icon p{
  color: black;
  margin: 10px;
  font-weight: bold;
  text-align: center;
}

.center-title{
  text-align: center;
}

.opt-icon{
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

.opt-icon-women{
  background-image: url(../images/asset-women.png);

}

.opt-icon-men{
  background-image: url(../images/asset-men.png);
}

.opt-icon-min1{
  background-image: url(../images/asset-min1.png);
}

.opt-icon-min2{
  background-image: url(../images/asset-min2.png);
}


.opt-icon-journalist{
  background-image: url(../images/asset-journalist.png);
}

.opt-icon-defender{
  background-image: url(../images/asset-defender.png);
}

.options-icon .evaluation-options{
  padding-top: 10px;
  margin: 15px 0;
}

.categories.option-icon{
  border: none;
}

.noip{
  margin: 0;
}

.title-cursor{
  position: relative;
  display: block;
}

.tooltip-title{
  position: absolute;
  font-size: 10px;
  left: 0px;
  bottom: -18px;
  width: 100%;
  display: none;
}

.title-cursor .tooltip-title.tooltip-show{
  display: block;
}

.multiradio-column .tooltip-title{
  top: -44px;
  bottom: auto;
}
