.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.center{
  text-align: center;
}
.absoluteLink{
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.container-md{
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}


.content-instructions{
  background-color:#519DBD;
  color:white;
  min-height:92%;
}
.content-instructions h2{
  margin:0 auto;
  margin-top:57px;
  font-size:45px;
  font-weight:lighter;
}
.content-instructions p{
  font-size:1em;
}
.content-instructions .instructions{
  min-height:100px;
}
.steps > div *{
  text-align: center;
}
.steps > div h3{
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5em;
  margin: 0;
}



.content-evaluation{
  background-color: #F7F7F7;
  min-height: calc(100% - 145px);
}
.content-evaluation md-content{
  background-color: #F7F7F7;
}

md-tabs[md-border-bottom] md-tabs-wrapper{
  border-style:none !important;
}
.md-tab{
  background-color: #519DBD;
  border-radius: 50%;
  line-height: 10px;
  margin: 10px 5px;
  padding: 10px;
  color: #FFF !important;
}
.md-center-tabs{
  width: 100% !important;
}

.evaluation h1{
  font-family: "lato-light";
  font-weight: normal;
}
.evaluation h1 strong{
  font-family: "lato-bold";
  font-weight: bold;
}
.evaluation-options{
  width: 100%;
  padding-top:73px;
  margin: 50px 0;
}
.categories{
  border: solid 1px #519DBD;
  min-height: 250px;
}
.categories *{
  text-align: center;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.categories:hover .iconWrapper{
  top: -30px;
}
.categories:hover h3{
  color: #519DBD;
}
.categories:after{
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0px;
  background-color: #519DBD;
  left: 0;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.categories:hover:after{
  height: 4px;
}
.iconWrapper{
  position: absolute;
  width: 80px;
  line-height: 80px;
  border-radius: 5px;
  color: #FFF;
  background-color: #519DBD;
  font-size: 2em;
  top: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.iconWrapper .square{
  position: absolute;
  background-color: #519DBD;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  bottom: -10px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.page-questions{
  width: 100%;
}

.evaluation-end{
  height: 500px;
}
.evaluation-end h1{
  font-family: "lato-light";
  font-weight: normal;
}
.evaluation-end h1 strong{
  font-family: "lato-bold";
  font-weight: bold;
}
.evaluation-end h2{
  text-align: center;
}
.evaluation-end hr{
  width: 80%;
  max-width: 500px;
  border-color: #519DBF;
}
.evaluation-end p{
  text-align: center;
}
.evaluation-end .md-button{
  border: solid 2px #519DBF;
  color: #519DBF;
  font-weight: bold;
  width: 200px;
}
.evaluation-end .md-button:hover{
  background-color: #519DBF !important;
  color: #FFF;
}
.evaluation-results h1{
  font-family: "lato-light";
  font-weight: normal;
}
.evaluation-results h1 strong{
  font-family: "lato-bold";
  font-weight: bold;
}
.evaluation-results h2{
  font-family: "lato-light";
  font-weight: normal;}
.evaluation-results h2 span{
  color: #519DBF;
  font-weight: bold;
}
.evaluation-results h2 strong{
  font-family: "lato-bold";
  font-weight: bold;
}

.evaluation-results .risk-image{
  max-width: 200px;
}
.evaluation-results .risk-image img{
  width: 100%;
}
/**/
#eq{
  overflow: hidden;
  margin-bottom: 50px;
}
.eq-pages{
  margin-top: 50px;
  padding: 0;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.eq-page{
  float: left;
}
.eq-page > md-content{
  width: 100%;
}
.eq-page h2{
  margin: 0;
}
.eq-page p{
  margin: 5px 0;
}
.evaluation-page input{
  width: 90%;
  font-size: 1.2em;
  padding: 10px 15px;
  border-radius: 5px;
  border: solid 1px;
}
.eq-one-column{}
.q-double-column{}

.eq-x{
  color: #519DBF;
}
.eq-x:after{
  content: "*";
}
.eq-buttons{
  margin: 1em 0;
}
.eq-prev,.eq-next{
  color: #FFF;
  background-color: #ACACAC;
}
.eq-next{background-color: #519DBF;}
.eq-prev:hover{background-color: rgba(172,172,172,.8) !important;}
.eq-next:hover{background-color: rgba(81,157,192,.8) !important;}
.eq-completed{
  position: relative;
  margin-bottom: 1em;
  height: 40px;
}
.eq-bar{
  position: absolute;
  width: 300px;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.eq-graybar{
  background-color: #E7E7E7;
  height: 20px;
  position: relative;
}
.eq-bluebar{
  transition: all 2s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #519DBF;
  position: absolute;
  height: 20px;
  left: 0;
  width: 0%;
}
.eq-percentage{
  text-align: center;
  text-transform: uppercase;
  color: #519DBF;
  font-weight: bold;
}

md-radio-button > div{
  left: 0 !important;
  right: 0 !important;
  margin: 0 auto !important;
}

form-question{
  margin-bottom: 1.2em;
}

.fq{
  margin-bottom: 1.2em;
}
.fq .even{
  background-color: #F5F5F5;
}
.fq p{
  padding-left: 10px;
  font-weight: bold;
}
.fq-options{
  margin-bottom: 15px;
  font-weight: bold;
}
.fq-head{
  padding: 0 5px;
  text-align: center;
  font-size: .8em;
}

.animate-enter,.animate-leave{
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.animte-enter.animte-enter-active{
  opacity: 1;
}
.animte-leave.animte-leave-active{
  opacity: 1;
}
