.content-home{
  height:calc(100% - 145px);
  background: linear-gradient(to top right,#003650,#61ADCD);
  text-align:center;
  color:white;
}
.content-home .home-description{
}
.content-home .home-description h2{
  margin-bottom:0;
  font:"lato-bold";
  font-size:2.2em;
}
.content-home .home-description p{
  font:"lato-bold";
  font-size:1.2em;
}
.content-home .home-choices .md-button{
  font:"lato-bold";
  font-size:1.2em;
  border:1px solid;
}

.container-md{
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}
