/* General */

/* Header */
header{
  min-height:85px;
}
header, header .md-toolbar-tools{
  color: #5495C0;
  background-color:white;
}
header .header-right{
  position:relative;
}
header .header-logo{
  background-color:  #5495C0;
  color:white;
  text-align: center;
  padding:8px 10px;
}
header .header-menu span{
  margin-left:-13px;
  font-size:15px;
  font-weight:bold;
}
header .header-menu md-icon svg {
  fill: #0F5E7F;
}
header .header-lang{
  color:black;
  font-weight:bold;
  padding:0 10px;
  background-color: #F3F3F3;
}
header .header-lang md-icon svg {
  width:70%;
  fill:black;
}
header .header-lang-options{
  border:1px solid;
  border-radius: 4px;
  position:absolute;
  width:100%;
  top:120%;
  left:0;
}
header .header-lang-options .md-button{
  width:100%;
  margin:0;
  padding-left:20px;
  text-align:left;
}
header .header-lang-options .legend{
  border-bottom:1px solid;
}
header .header-sidenav,
header .header-sidenav .md-sidenav-left{
  max-width:262px;
  height:100vh;
  position:fixed;
  left:0;
  z-index:99999;
  background-color:#141414;
}
header .header-sidenav .md-toolbar-tools{
  padding-left:35px;
  min-height:85px;
  color:white;
  background-color:#141414;
}
header .header-sidenav .sidenav-block{
  padding-left:35px;
  padding-right:35px;
  border-top:1px solid #202122;
}
header .header-sidenav .sidenav-block h3{
  font-size:16px;
  color:white;
}
header .header-sidenav .sidenav-block p{
  color:#474D4D;
  font-weight:bold;
}
header .header-sidenav .sidenav-block ul{
  list-style:disc;
}
header .header-sidenav .sidenav-block ul li{
  margin-top:5px;
}
header .header-sidenav *{
  color:#474D4D;
  font-weight:bold;
  font-size:12px;
}

/* Home */
.content-home{
  background: linear-gradient(to top right,#003650,#61ADCD);
  min-height:100%;
}
.home{
  color:white;
  text-align:center;
}
.home h1{
  font-size:90px;
}
.home h2{
  font-size:40px;
}
.home .home-logo{

}
.home .home-description{

}
.home .home-choices{
}
.home .home-choices .md-button{
  text-align:center;
  border:1px solid;
  height:54px;
  font-size:20px;
}

.home .home-choices .md-button span{
  position:relative;
  top:10%;
}

/* Evaluation */

.content-instructions{
  background-color:#519DBD;
  color:white;
  min-height:92%;
}
.content-instructions h2{
  margin:0 auto;
  margin-top:57px;
  font-size:45px;
  font-weight:lighter;
}
.content-instructions p{
  margin-top:38px;
  font-size:20px;
}
.content-instructions .instructions{
  min-height:100px;
}
.content-evaluation{
  background-color:white;
  min-height:100%;
}

/* Article */

.article h1{
  text-align:center;
}
.article h1, .article h2{
  margin-top:20px;
  margin-bottom:0px;
}
.article img{
  max-width:100%;
}

/* Footer */

footer {
  width:100%;
  height:60px;
  text-align:center;
  background-color: #252525;
}
footer .footer-share{
  color:white;
}
footer .footer-rights{
  color:#3B566C;
  font-weight:bold;
}

/* Elimina */

.test{
  border:1px solid;
}


