@font-face {
    font-family: lato;
    src: url(fonts/font/Lato-Regular.ttf);
}
@font-face {
    font-family: lato-light-italic;
    src: url(fonts/font/Lato-LightItalic.ttf);
}
@font-face {
    font-family: lato-light;
    src: url(fonts/font/Lato-Light.ttf);
}
@font-face {
    font-family: lato;
    src: url(fonts/font/Lato-Italic.ttf);
}
@font-face {
    font-family: lato;
    src: url(fonts/font/Lato-HairlineItalic.ttf);
}
@font-face {
    font-family: lato;
    src: url(fonts/font/Lato-Hairline.ttf);
}
@font-face {
    font-family: lato;
    src: url(fonts/font/Lato-BoldItalic.ttf);
}
@font-face {
    font-family: lato-bold;
    src: url(fonts/font/Lato-Bold.ttf);
}
@font-face {
    font-family: lato-black;
    src: url(fonts/font/Lato-Black.ttf);
}
@font-face {
    font-family: lato;
    src: url(fonts/font/Lato-BlackItalic.ttf);
}


body{
  background-color: #F7F7F7;
}
a{
  text-decoration: none;
}
sup{
  font-size: .5em;
}
md-content{
  background-color: transparent;
}
.md-button{
  text-transform:capitalize;
}
.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.container-md{
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}
.animate{
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media (max-width: 600px){
  .categories{
    width: 100%;
    margin: 40px 0;
  }
}
