.row-red *{
  background: rgba(255, 0, 0, 0.7);
  color:white!important;
  font-weight:bold;
}
.row-green *{
  background: rgba(81, 157, 190, 10);
  color:white!important;
  font-weight:bold;
}
.row-yellow *{
  background: rgba(255, 255, 0, 0.7);
  color:black!important;
  font-weight:bold;
}
.ratebar {
 border:1px solid;
 height:20px;
}
.ratebar-item{
  margin:0;
  padding:0;
  text-align:center;
  color:white;
  font-weight:bold;
  font-size:13px;
}
.risk-level{
  background:#FF0011;
  min-width:20px;
  min-height:20px;
  color:white
}
.control-level{
  background:#8B8B8B;
  min-width:20px;
  min-height:20px;
  color:white";
}
