/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com
*/

html, body, #wrap {height: 100%;position: relative;}

body > #wrap {height: auto; min-height: 100%;}

#main {padding-bottom: 60px;}  /* must be same height as the footer */

#footer {position: relative;
    margin-top: -60px; /* negative value of footer height */
    height: 60px;
    clear:both;
}

.clearfix{clear: both;}
