<!--fix later-->
<div class="eq-one-column" ng-show="questions[selected].optional" >
  <md-checkbox
    ng-model="answers.sent"
    flex
  >
    {{questions[selected]['legend-optional']}}
  </md-checkbox>
</div>
<ng-include
  ng-animate="'animate'"
  ng-if="questions[selected].type &&questions[selected].type!='table-multiradio'"
  ng-show="!questions[selected].optional || want[selected]"
  src=" 'views/directives/' + questions[selected].type + '.html' "
  class="evaluation-page"
>
</ng-include>

<ng-include
  ng-animate="'animate'"
  ng-if="questions[selected].type == 'table-multiradio'"
  src="'views/directives/table-multiradio.html'"
  class="evaluation-page"
>
<!--end fix later-->
</ng-include>

<div class="eq-buttons" layout layout-align="end center">
  <md-button class="eq-prev" href="{{'#evaluation/' + type + '/' + selected}}" ng-click="prev()" ng-show="!start">
    <span translate>views.evaluation.prev</span>
  </md-button>
  <md-button class="eq-next" href="{{'#evaluation/' + type + '/' + selected}}" ng-click="next()" ng-show="!last" >
    <span translate>views.evaluation.next</span>
  </md-button>
  <md-button class="eq-next" ng-click="finish()" href="#/advice" ng-show=" last" >
    <span translate>views.evaluation.finish</span>
  </md-button>
</div>

<div class="eq-completed">
  <div class="eq-bar">
    <div class="eq-graybar">
      <div class="eq-bluebar"></div>
    </div>
    <div class="eq-percentage">
      {{completed}}%
      <span translate>
        views.evaluation.scorelegend
      </span>
    </div>
  </div>
</div>
