<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="salamaApp">
  <!--Header-->
  <header layout layout-align="center center" layout-wrap ng-controller="HeaderCtrl as header">
    <md-toolbar layout layout-align="space-between center" flex ="85"
     class ="md-toolbar-tools"
    >
      <div layout layout-align="space-between center" flex="15"
        class="header-left"
      >
        <div class="header-logo"> S </div>
        <div layout layout-align="center center" class="header-menu">
          <md-button class="md-icon-button"
            ng-click="header.changeStateSide()"
          >
            <md-icon md-svg-icon="images/menu.svg"
              class="header-menu-logo"
            >
            </md-icon>
          </md-button>
          <span>Menu</span>
        </div>
      </div>
      <div layout layout-align="space-between center"  flex="25"
        class="header-right"
      >
        <a href="https://twitter.com/intent/tweet"
          class="twitter-share-button"
        >
          Tweet
        </a>
        <div >
          <md-button class="header-lang"
            ng-click="header.showLangOptions = !header.showLangOptions"
          >
            <md-icon md-svg-icon="images/lang.svg">
            </md-icon>
            <span translate>views.main.lang</span>
          </md-button>
          <md-content class="header-lang-options" ng-show="header.showLangOptions">
            <md-button class="legend">
              <span translate>views.main.suggest</span>
            </md-button>
            <md-button ng-click="header.changeLang('es_MX')">
              Español
            </md-button>
            <md-button ng-click="header.changeLang('en_US')">
              English
            </md-button>
          </md-content>
        </div>
      </div>
    </md-toolbar>
  <!--endHeader-->

  <!--Sidenav-->
    <div class="header-sidenav" ng-controller="NavsideCtrl as navside">
      <md-sidenav md-component-id="left"
        md-is-locked-open="navside.show"
        class="md-sidenav-left md-whiteframe-z2"
      >
        <md-toolbar class="md-toolbar-tools">
          <md-button class="md-icon-button"
            ng-click="navside.changeStateSide()"
          >
            <md-icon md-svg-icon="images/menu.svg"
              class="header-menu-logo"
            >
            </md-icon>
          </md-button>
          <span>Menu</span>
        </md-toolbar>
        <div class="sidenav-block">
          <h3>Security Evaluation</h3>
          <p><a href="#/individuals">Individual Journalist</a></p>
          <p><a href="#/organizations">Organization</a></p>
        </div>
        <div class="sidenav-block">
          <h3>Security Library</h3>
          <div ng-repeat="category in navside.categories">
            <p>{{category}}</p>
            <ul>
              <li ng-repeat="meta in navside.metadata[category]">
                <a href="#/article" ng-click="navside.setPost(meta.path)">
                  {{meta.title}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </md-sidenav>
    </div>
  </header>
  <!--endSidenav-->

  <!--Content-->
  <ng-view></ng-view>
  <!--endContent-->

  <!--Footer-->
  <footer layout layout-align="center center">
    <div layout="column">
      <div class="footer-share">
        Facebook | Twitter
      </div>
      <div class="footer-rights">
        2016 Salama. All rights Reserved
      </div>
    </div>
  </footer>
  <!--endFooter-->

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/github-api/github.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
  <script src="bower_components/marked/lib/marked.js"></script>
  <script src="bower_components/angular-marked/dist/angular-marked.js"></script>
  <script src="bower_components/ngstorage/ngStorage.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/header.js"></script>
  <script src="scripts/controllers/home.js"></script>
  <script src="scripts/controllers/evaluation.js"></script>
  <script src="scripts/controllers/article.js"></script>
  <script src="scripts/controllers/individuals.js"></script>
  <script src="scripts/controllers/organizations.js"></script>
  <script src="scripts/services/content-service.js"></script>
  <script src="scripts/services/questions-service.js"></script>
  <script src="scripts/directives/form-question.js"></script>
  <script src="scripts/services/posts-service.js"></script>
  <script src="scripts/controllers/navside.js"></script>
  <script src="scripts/services/navside-service.js"></script>
  <!-- endbuild -->
  <script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>
</body>

</html>
