<md-content>
  <div class="evaluation-results container-md">
    <h1 class="center">
      <strong>{{ 'views.advice.title1' | translate }}</strong>
      {{ 'views.advice.title2' | translate }}
    </h1>
    <h2>
      {{'views.advice.resultstitle1'| translate}}
      <span>{{ 'views.advice.resultstitle2'| translate}} </span>
      {{'views.advice.resultstitle3'|translate}}
      <strong> {{advice.finalScore}}</strong>
    </h2>
    <div layout layout-align="space-around center" >
      <div class="risk-image">
        <img ng-src="{{advice.risk.image}}">
      </div>
      <div>
        <h3>{{ advice.risk.level | translate}}</h3>
        <h4>{{ advice.risk.description | translate}}</h4>
      </div>
    </div>
    <div marked="advice.advice"></div>
    <div ng-if="advice.links.length >0 ">
      <h3 translate>views.advice.linkslegend</h3>
      <ul>
        <li ng-repeat="link in advice.links">
          <a href="{{ '#/article/' + link.link}}">
            {{link.title}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</md-content>
