<footer id="footer" layout layout-align="center center">

  <div layout="column">

    <div class="footer-share">
      <a href="http://salamaapp.org/">
        <span translate>views.footer.about</span>
      </a>
      <a href="#/article/policy">
        <span translate>views.footer.privacy</span>
      </a>
      <a href="#/article/terms">
        <span translate>views.footer.terms</span>
      </a>
      <a href="#/article/ours">
        <span translate>views.footer.ours</span>
      </a>
    </div>
    <div class="footer-rights">
      2016 Salama. <span translate>views.footer.rights</span>
    </div>
  </div>
</footer>
