<script>
  if (toggle = true) {
    function hashHandler() {
      this.oldHash = window.location.hash;
      this.Check;
      document.getElementById("drawer").style.marginLeft = "-950px";
      var that = this;
      var detect = function () {
        if (that.oldHash != window.location.hash) {
          that.oldHash = window.location.hash;
          document.getElementById("drawer").style.marginLeft = "-1050px";
        }
      };
      this.Check = setInterval(function () { detect() }, 100);
    }
  }

  var hashDetection = new hashHandler();
  var toggle = false;

  function activeMenu() {
    if (toggle === false) {
      toggle = true;
      document.getElementById("drawer").style.paddingLeft = "150px";
      document.getElementById("drawer").style.marginLeft = "0px";
      document.getElementById("shadow").style.display = "initial";
      document.getElementById("burger").style.display = "none";
      document.getElementById("cross").style.display = "initial";
    } else {
      toggle = false;
      document.getElementById("drawer").style.marginLeft = "-1050px";
      document.getElementById("shadow").style.display = "none";
      document.getElementById("burger").style.display = "initial";
      document.getElementById("cross").style.display = "none";
    }
  }

  var toggle_submenu = false;

  function Toggle() {
    document.getElementById("subdrawer").style.display = "block";
  }

  function UnToggle() {
    document.getElementById("subdrawer").style.display = "none";
  }

  function Toggle2() {
    document.getElementById("subdrawer2").style.display = "block";
  }

  function UnToggle2() {
    document.getElementById("subdrawer2").style.display = "none";
  }

  function Toggle3() {
    document.getElementById("subdrawer3").style.display = "block";
  }

  function UnToggle3() {
    document.getElementById("subdrawer3").style.display = "none";
  }

  function Toggle4() {
    document.getElementById("subdrawer4").style.display = "block";
  }

  function UnToggle4() {
    document.getElementById("subdrawer4").style.display = "none";
  }

  function Toggle5() {
    document.getElementById("subdrawer5").style.display = "block";
  }

  function UnToggle5() {
    document.getElementById("subdrawer5").style.display = "none";
  }

  function Toggle6() {
    document.getElementById("subdrawer6").style.display = "block";
  }

  function UnToggle6() {
    document.getElementById("subdrawer6").style.display = "none";
  }


  function Individuals(color) {
    //document.getElementById('individuals').style.color = color;
    document.getElementById('organizations').style.color = color;
    document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    document.getElementById('censura').style.color = color;
    document.getElementById('seglab').style.color = color;
    document.getElementById('segprof').style.color = color;
    document.getElementById('redes').style.color = color;
    document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      //document.getElementById('individual_png').style.filter = 'invert(70%)';
      document.getElementById('organizations_png').style.filter = 'invert(70%)';
      document.getElementById('digital_png').style.filter = 'invert(70%)';
      document.getElementById('censura_png').style.filter = 'invert(70%)';
      document.getElementById('seglab_png').style.filter = 'invert(70%)';
      document.getElementById('segprof_png').style.filter = 'invert(70%)';
      document.getElementById('redes_png').style.filter = 'invert(70%)';
      document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  }


  function Organizations(color) {
    document.getElementById('individuals').style.color = color;
    //document.getElementById('organizations').style.color = color;
    document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    document.getElementById('censura').style.color = color;
    document.getElementById('seglab').style.color = color;
    document.getElementById('segprof').style.color = color;
    document.getElementById('redes').style.color = color;
    document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      document.getElementById('individual_png').style.filter = 'invert(70%)';
      //document.getElementById('organizations_png').style.filter = 'invert(70%)';
      document.getElementById('digital_png').style.filter = 'invert(70%)';
      document.getElementById('censura_png').style.filter = 'invert(70%)';
      document.getElementById('seglab_png').style.filter = 'invert(70%)';
      document.getElementById('segprof_png').style.filter = 'invert(70%)';
      document.getElementById('redes_png').style.filter = 'invert(70%)';
      document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  }

  function DigitalSecurity(color) {
    document.getElementById('individuals').style.color = color;
    document.getElementById('organizations').style.color = color;
    // document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    document.getElementById('censura').style.color = color;
    document.getElementById('seglab').style.color = color;
    document.getElementById('segprof').style.color = color;
    document.getElementById('redes').style.color = color;
    document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      document.getElementById('individual_png').style.filter = 'invert(70%)';
      document.getElementById('organizations_png').style.filter = 'invert(70%)';
      // document.getElementById('digital_png').style.filter = 'invert(70%)';
      document.getElementById('censura_png').style.filter = 'invert(70%)';
      document.getElementById('seglab_png').style.filter = 'invert(70%)';
      document.getElementById('segprof_png').style.filter = 'invert(70%)';
      document.getElementById('redes_png').style.filter = 'invert(70%)';
      document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  }

  function Censored(color) {
    document.getElementById('individuals').style.color = color;
    document.getElementById('organizations').style.color = color;
    document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    //document.getElementById('censura').style.color = color;
    document.getElementById('seglab').style.color = color;
    document.getElementById('segprof').style.color = color;
    document.getElementById('redes').style.color = color;
    document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      document.getElementById('individual_png').style.filter = 'invert(70%)';
      document.getElementById('organizations_png').style.filter = 'invert(70%)';
      document.getElementById('digital_png').style.filter = 'invert(70%)';
      //document.getElementById('censura_png').style.filter = 'invert(70%)';
      document.getElementById('seglab_png').style.filter = 'invert(70%)';
      document.getElementById('segprof_png').style.filter = 'invert(70%)';
      document.getElementById('redes_png').style.filter = 'invert(70%)';
      document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  }


  function Seglab(color) {
    document.getElementById('individuals').style.color = color;
    document.getElementById('organizations').style.color = color;
    document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    document.getElementById('censura').style.color = color;
    //document.getElementById('seglab').style.color = color;
    document.getElementById('segprof').style.color = color;
    document.getElementById('redes').style.color = color;
    document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      document.getElementById('individual_png').style.filter = 'invert(70%)';
      document.getElementById('organizations_png').style.filter = 'invert(70%)';
      document.getElementById('digital_png').style.filter = 'invert(70%)';
      document.getElementById('censura_png').style.filter = 'invert(70%)';
      //document.getElementById('seglab_png').style.filter = 'invert(70%)';
      document.getElementById('segprof_png').style.filter = 'invert(70%)';
      document.getElementById('redes_png').style.filter = 'invert(70%)';
      document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  }


  function Segprof(color) {
    document.getElementById('individuals').style.color = color;
    document.getElementById('organizations').style.color = color;
    document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    document.getElementById('censura').style.color = color;
    document.getElementById('seglab').style.color = color;
    //document.getElementById('segprof').style.color = color;
    document.getElementById('redes').style.color = color;
    document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      document.getElementById('individual_png').style.filter = 'invert(70%)';
      document.getElementById('organizations_png').style.filter = 'invert(70%)';
      document.getElementById('digital_png').style.filter = 'invert(70%)';
      document.getElementById('censura_png').style.filter = 'invert(70%)';
      document.getElementById('seglab_png').style.filter = 'invert(70%)';
      // document.getElementById('segprof_png').style.filter = 'invert(70%)';
      document.getElementById('redes_png').style.filter = 'invert(70%)';
      document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  }

  function Redes(color) {
    document.getElementById('individuals').style.color = color;
    document.getElementById('organizations').style.color = color;
    document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    document.getElementById('censura').style.color = color;
    document.getElementById('seglab').style.color = color;
    document.getElementById('segprof').style.color = color;
    //document.getElementById('redes').style.color = color;
    document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      document.getElementById('individual_png').style.filter = 'invert(70%)';
      document.getElementById('organizations_png').style.filter = 'invert(70%)';
      document.getElementById('digital_png').style.filter = 'invert(70%)';
      document.getElementById('censura_png').style.filter = 'invert(70%)';
      document.getElementById('seglab_png').style.filter = 'invert(70%)';
      document.getElementById('segprof_png').style.filter = 'invert(70%)';
      //document.getElementById('redes_png').style.filter = 'invert(70%)';
      document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  }
  function Otros(color) {
    document.getElementById('individuals').style.color = color;
    document.getElementById('organizations').style.color = color;
    document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    document.getElementById('censura').style.color = color;
    document.getElementById('seglab').style.color = color;
    document.getElementById('segprof').style.color = color;
    document.getElementById('redes').style.color = color;
    //document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      document.getElementById('individual_png').style.filter = 'invert(70%)';
      document.getElementById('organizations_png').style.filter = 'invert(70%)';
      document.getElementById('digital_png').style.filter = 'invert(70%)';
      document.getElementById('censura_png').style.filter = 'invert(70%)';
      document.getElementById('seglab_png').style.filter = 'invert(70%)';
      document.getElementById('segprof_png').style.filter = 'invert(70%)';
      document.getElementById('redes_png').style.filter = 'invert(70%)';
      //document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  }
</script>
<div id="shadow" onclick="activeMenu()"></div>
<div id="drawer" class="drawer">
  <span class="subtitle" translate> views.sidenav.menu </span>
  <h1 id="evaluation" class="title" translate> views.sidenav.evaluation </h1>
  <div layout="row" class="icon-row">
    <img id="individual_png" src="images/indiv.png" height="20" width="15" alt="s" />
    <a href="#/evaluation-individual" onmouseover="Individuals('grey')" onmouseout="Individuals('white')" id="individuals"
      class="first-option-link" translate onclick="activeMenu()">views.evaluation.individuals
    </a>
  </div>
  <div layout="row" class="icon-row-organizations">
    <img src="images/org.png" id="organizations_png" height="18" width="31" alt="s" />
    <a onmouseover="Organizations('grey')" onmouseout="Organizations('white')" href="#/evaluation/organizations" id="organizations"
      class="first-option-link" translate onclick="activeMenu()">views.evaluation.organizations
    </a>
  </div>
  <h1 href="" id="library" class="title" translate>views.sidenav.library </h1>
  <div class="row" onmouseover="Toggle()" onmouseout="UnToggle()">
    <div layout="row" onmouseover="DigitalSecurity('grey')" onmouseout="DigitalSecurity('white')" class="icon-row">
      <img id="digital_png" src="images/otros.png" height="22" width="20" alt="" />
      <a href="" id="digitalsecurity" class="first-option" translate>
        views.sidenav.security </a>
    </div>
    <div id="subdrawer" onmouseover="DigitalSecurity('grey')" onmouseout="DigitalSecurity('white')" class="subdrawer">
      <ul>
        <a id="calls" class="mediumtitle" href="#/article/calls" translate onclick="activeMenu()"> views.sidenav.calls</a>
      </ul>
      <ul>
        <a class="mediumtitle" href="#/article/chat" translate onclick="activeMenu()"> views.sidenav.chat</a>
      </ul>
      <ul>
        <a class="mediumtitle" href="#/article/digital_security" translate onclick="activeMenu()">
          views.sidenav.security</a>
      </ul>
      <ul>
        <a class="mediumtitle" href="#/article/information_corruption_mail" translate onclick="activeMenu()">
          views.sidenav.sensitive</a>
      </ul>
      <ul>
        <a class="mediumtitle" href="#/article/mail" translate onclick="activeMenu()"> views.sidenav.protect</a>
      </ul>
      <ul>
        <a class="mediumtitle" href="#/article/navigation" translate onclick="activeMenu()"> views.sidenav.navigation</a>
      </ul>
      <ul>
        <a class="mediumtitle" href="#/article/passwords" translate onclick="activeMenu()">views.sidenav.passwords</a>
      </ul>
    </div>
  </div>
  <div class="row" onmouseover="Toggle2()" onmouseout="UnToggle2()">
    <div layout="row" class="row-padded">
      <img id="censura_png" src="images/censura.png" height="22" width="20" alt="s" />
      <h1 id="censura" onmouseover="Censored('grey')" onmouseout="Censored('white')" class="first-option" translate>
        views.sidenav.censored </h1>
    </div>
    <div id="subdrawer2" onmouseover="Censored('grey')" onmouseout="Censored('white')" class="subdrawer2">
      <ul>
        <a class="mediumtitle" href="#/article/corruption" translate onclick="activeMenu()">views.sidenav.corruption</a>
      </ul>
    </div>
  </div>
  <div class="row" onmouseover="Toggle3()" onmouseout="UnToggle3()">
    <div layout="row" class="icon-row">
      <img id="seglab_png" src="images/seglab.png" height="22" width="20" alt="s" />
      <h1 id="seglab" onmouseover="Seglab('grey')" onmouseout="Seglab('white')" class="first-option" translate>
        views.sidenav.worksecurity </h1>
    </div>
    <div id="subdrawer3" onmouseover="Seglab('grey')" onmouseout="Seglab('white')" class="subdrawer3">
      <ul>
        <a class="mediumtitle" href="#/article/corruption_information" translate onclick="activeMenu()">views.sidenav.corruptioneinfo</a>
      </ul>
      <ul>
        <a class="mediumtitle" href="#/article/crime_corruption" translate onclick="activeMenu()">views.sidenav.corruptioncover</a>
      </ul>
      <ul>
        <a class="mediumtitle" href="#/article/threat" translate onclick="activeMenu()">views.sidenav.attacks</a>
      </ul>
      <ul>
        <a class="mediumtitle" href="#/article/violence_plan" translate onclick="activeMenu()">views.sidenav.plan</a>
      </ul>
      <ul>
        <a class="mediumtitle" href="#/article/zone_protocols" translate onclick="activeMenu()">views.sidenav.dangareas</a>
      </ul>
    </div>
  </div>
  <div class="row" onmouseover="Toggle4()" onmouseout="UnToggle4()"">
    <div layout=" row" class="icon-row">
    <img id="segprof_png" src="images/segprof.png" height="22" width="20" alt="d" />
    <h1 id="segprof" onmouseover="Segprof('grey')" onmouseout="Segprof('white')" class=" first-option" translate>
      views.sidenav.prosecurity </h1>
  </div>
  <div id="subdrawer4" onmouseover="Segprof('grey')" onmouseout="Segprof('white')" class="subdrawer4">
    <ul>
      <a class="mediumtitle" href=" #/article/etic" translate onclick="activeMenu()">views.sidenav.ethic</a>
    </ul>
    <ul>
      <a class="mediumtitle" href="#/article/information" translate onclick="activeMenu()">views.sidenav.stories</a>
    </ul>
    <ul>
      <a class="mediumtitle" href=" #/article/network" translate onclick="activeMenu()">views.sidenav.communication</a>
    </ul>
    <ul>
      <a class="mediumtitle" href="#/article/plan" translate onclick="activeMenu()">views.sidenav.methods</a>
    </ul>
    <ul>
      <a class="mediumtitle" href="#/article/professional" translate onclick="activeMenu()">views.sidenav.professional</a>
    </ul>
    <ul>
      <a class="mediumtitle" href="#/article/sinformation" translate onclick="activeMenu()">views.sidenav.handle</a>
    </ul>
    <ul>
      <a class="mediumtitle" href="#/article/threat_protocols" translate onclick="activeMenu()">views.sidenav.protocols</a>
    </ul>
    <ul>
      <a class="mediumtitle" href="#/article/violence" translate onclick="activeMenu()">views.sidenav.corruptioncover</a>
    </ul>
  </div>
</div>

<div class="row" onmouseover="Toggle5()" onmouseout="UnToggle5()">
  <div layout=" row" class=" icon-row">
    <img id="redes_png" src="images/redes.png" height="22" width="20" alt="d" />
    <h1 id="redes" onmouseover="Redes('grey')" onmouseout="Redes('white')" class=" first-option" translate>
      views.sidenav.networksecurity </h1>
  </div>
  <div id="subdrawer5" onmouseover="Redes('grey')" onmouseout="Redes('white')" class="subdrawer5">
    <ul>
      <a class="mediumtitle" href="#/article/violence_boss" translate onclick="activeMenu()">views.sidenav.improvecomm</a>
    </ul>
  </div>
</div>
<div class="row" onmouseover="Toggle6()" onmouseout="UnToggle6()">
  <div layout=" row" class=" icon-row">
    <img id="otros_png" src="images/otros.png" height="22" width="20" alt="ds" />
    <h1 id="otros" onmouseover="Otros('grey')" onmouseout="Otros('white')" class=" first-option" translate>
      views.sidenav.others </h1>
  </div>
  <div id="subdrawer6" onmouseover="Otros('grey')" onmouseout="Otros('white')" class="subdrawer6">
    <ul>
      <a class="mediumtitle" href="#/article/extreme" translate onclick="activeMenu()">views.sidenav.extreme</a>
    </ul>
    <ul>
      <a class="mediumtitle" href="#/article/high" translate onclick="activeMenu()">views.sidenav.high</a>
    </ul>
    <ul>
      <a class="mediumtitle" href="#/article/low" translate onclick="activeMenu()">views.sidenav.medium</a>
    </ul>
    <ul>
      <a class="mediumtitle" href="#/article/moderate" translate onclick="activeMenu()">views.sidenav.down</a>
    </ul>
  </div>
</div>
</div>
<div class="left-bar">
  <div class="logo-bg" onclick="activeMenu()">
    <a href="#/" onclick="activeMenu()">
      <img class="logo" src="images/icon_salama.png" onclick="activeMenu()">
    </a>
  </div>
  <div class="inside-bar">
    <div class="bmenu-container" onClick="activeMenu()">
      <div id="burger">
        <img src="images/menu-button.png" class="bmenuu" alt="bmenu">
        <span class="Menu" translate>views.sidenav.menu</span>
      </div>
      <div id="cross">
        <img src="images/multiply.png" class="cross" alt="cross">
        <span class="CrossText" translate>views.sidenav.close</span>
      </div>
    </div>
  </div>
</div>
<header layout layout-align="center center" layout-wrap ng-controller="HeaderCtrl as header" style="{{header.lang == 'ar_AE' && 'text-align:right!important'}}">
  <!--Sidenav-->
  <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2 header-sidenav">
    <md-toolbar class="md-toolbar-tools">
    </md-toolbar>
    <div class="sidenav-block">
      <h3 translate>views.sidenav.evaluation</h3>
      <p>
        <a href="{{header.individuals}}" ng-click="header.changeStateSide()" translate>
          views.sidenav.individuals
        </a>
      </p>
      <p>
        <a href="#/evaluation/organizations" ng-click="header.changeStateSide()" translate>
          views.sidenav.organizations
        </a>
      </p>
    </div>
    <div class="sidenav-block">
      <h3 translate>views.sidenav.library</h3>
      <div ng-repeat="category in header.categories">
        <p>{{category}}</p>
        <ul>
          <li ng-repeat="meta in header.metadata[category]">
            <a ng-href="{{'#/article/' + meta.path}}" ng-click="header.changeStateSide()">
              {{meta.title}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </md-sidenav>
  <md-toolbar class="md-toolbar-tools animate header-fixed">
    <div class="container" layout layout-align="space-between center">
      <div layout layout-align="space-between center" class="header-left">
        <a href="#/" layout layout-align="center center" class="header-logo">
        </a>
      </div>
      <div layout layout-align="space-between center" class="header-right">
        <div>
          <md-button class="header-lang" ng-click="header.showLangOptions = !header.showLangOptions">
            <md-icon md-svg-icon="images/lang.svg">
            </md-icon>
            <span translate>views.main.lang</span>
          </md-button>
          <md-content layout="column" ng-show="header.showLangOptions" class="header-lang-options">
            <md-button class="legend">
              <span translate>views.main.suggest</span>
            </md-button>
            <md-button ng-click="header.changeLang('es_MX')">
              Español
            </md-button>
            <md-button ng-click="header.changeLang('en_US')">
              English
            </md-button>
            <md-button ng-click="header.changeLang('ar_AE')">
              العربي
            </md-button>
          </md-content>
        </div>
      </div>
    </div>
    <div class="cookie-popup" layout="row" layout-align="center center" ng-show="!header.okCookiesStorage">
      <p translate>views.footer.cookie</p>
      <md-button ng-click="header.okCookies()">{{'views.footer.cookie.ok' | translate}}</md-button>
    </div>
  </md-toolbar>


</header>
<!--endSidenav-->
