<script>
  /// VERIFY IF THE DIRECTION HAVE CHANGED /////////////////////////////////

  if (toggle = true) {
    function hashHandler() {
      this.oldHash = window.location.hash;
      this.Check;
      document.getElementById("drawer").style.marginLeft = "-950px";
      var that = this;
      var detect = function () {
        if (that.oldHash != window.location.hash) {
          that.oldHash = window.location.hash;
          document.getElementById("drawer").style.marginLeft = "-1050px";
        }
      };
      this.Check = setInterval(function () { detect() }, 100);
    }
  }

  /////////////////END OF FUNCTION ////////////////////////////////////////////
  var toggle = false;
  function activeMenu() {
    if (toggle === false) {
      toggle = true;

      document.getElementById("drawer").style.paddingLeft = "0px";
      document.getElementById("drawer").style.marginLeft = "0px";
      document.getElementById("shadow").style.display = "initial";
      document.getElementById("burger").style.display = "none";
      document.getElementById("cross").style.display = "initial";
    } else {
      toggle = false;
      document.getElementById("drawer").style.marginLeft = "-1050px";
      document.getElementById("shadow").style.display = "none";
      document.getElementById("burger").style.display = "initial";
      document.getElementById("cross").style.display = "none";
    }
  }

  function Toggle() {
    document.getElementById("drawer").classList.remove('drawer-mobile-untoggle');
    document.getElementById("subdrawer").classList.remove('subdrawer-mobile-untoggle');
    document.getElementById("drawer").classList.add('drawer-mobile-untoggle');
    document.getElementById("subdrawer").classList.add('subdrawer-mobile');

  }
  function UnToggle() {
    document.getElementById("drawer").classList.add('subdrawer-mobile');
    document.getElementById("subdrawer").classList.add('subdrawer-mobile-untoggle');
    document.getElementById("subdrawer").style.display = "none";
    document.getElementById("drawer").style.width = "initial";
    document.getElementById("drawer").style.marginLeft = "initial";
  }
  function Toggle2() {
    document.getElementById("drawer").classList.add('drawer-mobile-toggle');
    document.getElementById("subdrawer2").classList.add('subdrawer-mobile');
    document.getElementById("subdrawer2").style.display = "block";
    document.getElementById("drawer").style.width = "700px";
    document.getElementById("drawer").style.marginLeft = "-300px";

  }
  function UnToggle2() {
    document.getElementById("drawer").classList.add('subdrawer-mobile');
    document.getElementById("subdrawer2").classList.add('subdrawer-mobile-untoggle');
    document.getElementById("subdrawer2").style.display = "none";
    document.getElementById("drawer").style.width = "initial";
    document.getElementById("drawer").style.marginLeft = "initial";
  }
  function Toggle3() {
    document.getElementById("drawer").classList.add('drawer-mobile-toggle');
    document.getElementById("subdrawer3").classList.add('subdrawer-mobile');
    document.getElementById("subdrawer3").style.display = "block";
    document.getElementById("drawer").style.width = "700px"; document.getElementById("drawer").style.marginLeft = "-300px";
  }
  function UnToggle3() {
    document.getElementById("drawer").classList.add('subdrawer-mobile');
    document.getElementById("subdrawer3").classList.add('subdrawer-mobile-untoggle');
    document.getElementById("subdrawer3").style.display = "none";
    document.getElementById("drawer").style.width = "initial"; document.getElementById("drawer").style.marginLeft = "initial";
  }
  function Toggle4() {
    document.getElementById("drawer").classList.add('drawer-mobile-toggle');
    document.getElementById("subdrawer").classList.add('subdrawer-mobile');
    document.getElementById("subdrawer4").style.display = "block";
    document.getElementById("drawer").style.width = "700px"; document.getElementById("drawer").style.marginLeft = "-300px";
  }
  function UnToggle4() {
    document.getElementById("drawer").classList.add('subdrawer-mobile');
    document.getElementById("subdrawer4").classList.add('subdrawer-mobile-untoggle');
    document.getElementById("subdrawer4").style.display = "none";
    document.getElementById("drawer").style.width = "initial";
    document.getElementById("drawer").style.marginLeft = "initial";
  }
  function Toggle5() {
    document.getElementById("drawer").classList.add('drawer-mobile-toggle');
    document.getElementById("subdrawer").classList.add('subdrawer-mobile');
    document.getElementById("subdrawer5").style.display = "block";
    document.getElementById("drawer").style.width = "700px"; document.getElementById("drawer").style.marginLeft = "-300px";
  }
  function UnToggle5() {
    document.getElementById("drawer").classList.add('subdrawer-mobile');
    document.getElementById("subdrawer5").classList.add('subdrawer-mobile-untoggle');
    document.getElementById("subdrawer5").style.display = "none";
    document.getElementById("drawer").style.width = "initial";
    document.getElementById("drawer").style.marginLeft = "initial";
  }
  function Toggle6() {
    document.getElementById("drawer").classList.add('drawer-mobile-toggle');
    document.getElementById("subdrawer6").classList.add('subdrawer-mobile');
    document.getElementById("subdrawer6").style.display = "block";

    document.getElementById("drawer").style.width = "700px"; document.getElementById("drawer").style.marginLeft = "-300px";
  }
  function UnToggle6() {
    document.getElementById("drawer").classList.add('subdrawer-mobile');
    document.getElementById("subdrawer6").classList.add('subdrawer-mobile-untoggle');
    document.getElementById("subdrawer6").style.display = "none";
    document.getElementById("drawer").style.width = "initial";
    document.getElementById("drawer").style.marginLeft = "initial";
  }


  function Individuals(color) {
    //document.getElementById('individuals').style.color = color;
    document.getElementById('organizations').style.color = color;
    document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    document.getElementById('censura').style.color = color;
    document.getElementById('seglab').style.color = color;
    document.getElementById('segprof').style.color = color;
    document.getElementById('redes').style.color = color;
    document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      //document.getElementById('individual_png').style.filter = 'invert(70%)';
      document.getElementById('organizations_png').style.filter = 'invert(70%)';
      document.getElementById('digital_png').style.filter = 'invert(70%)';
      document.getElementById('censura_png').style.filter = 'invert(70%)';
      document.getElementById('seglab_png').style.filter = 'invert(70%)';
      document.getElementById('segprof_png').style.filter = 'invert(70%)';
      document.getElementById('redes_png').style.filter = 'invert(70%)';
      document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  }

  function Organizations(color) {
    document.getElementById('individuals').style.color = color;
    //document.getElementById('organizations').style.color = color;
    document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    document.getElementById('censura').style.color = color;
    document.getElementById('seglab').style.color = color;
    document.getElementById('segprof').style.color = color;
    document.getElementById('redes').style.color = color;
    document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      document.getElementById('individual_png').style.filter = 'invert(70%)';
      //document.getElementById('organizations_png').style.filter = 'invert(70%)';
      document.getElementById('digital_png').style.filter = 'invert(70%)';
      document.getElementById('censura_png').style.filter = 'invert(70%)';
      document.getElementById('seglab_png').style.filter = 'invert(70%)';
      document.getElementById('segprof_png').style.filter = 'invert(70%)';
      document.getElementById('redes_png').style.filter = 'invert(70%)';
      document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  }
  function DigitalSecurity(color) {
    document.getElementById('individuals').style.color = color;
    document.getElementById('organizations').style.color = color;
    // document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    document.getElementById('censura').style.color = color;
    document.getElementById('seglab').style.color = color;
    document.getElementById('segprof').style.color = color;
    document.getElementById('redes').style.color = color;
    document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      document.getElementById('individual_png').style.filter = 'invert(70%)';
      document.getElementById('organizations_png').style.filter = 'invert(70%)';
      // document.getElementById('digital_png').style.filter = 'invert(70%)';
      document.getElementById('censura_png').style.filter = 'invert(70%)';
      document.getElementById('seglab_png').style.filter = 'invert(70%)';
      document.getElementById('segprof_png').style.filter = 'invert(70%)';
      document.getElementById('redes_png').style.filter = 'invert(70%)';
      document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  }
  function Censored(color) {
    document.getElementById('individuals').style.color = color;
    document.getElementById('organizations').style.color = color;
    document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    //document.getElementById('censura').style.color = color;
    document.getElementById('seglab').style.color = color;
    document.getElementById('segprof').style.color = color;
    document.getElementById('redes').style.color = color;
    document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      document.getElementById('individual_png').style.filter = 'invert(70%)';
      document.getElementById('organizations_png').style.filter = 'invert(70%)';
      document.getElementById('digital_png').style.filter = 'invert(70%)';
      //document.getElementById('censura_png').style.filter = 'invert(70%)';
      document.getElementById('seglab_png').style.filter = 'invert(70%)';
      document.getElementById('segprof_png').style.filter = 'invert(70%)';
      document.getElementById('redes_png').style.filter = 'invert(70%)';
      document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  }

  function Seglab(color) {
    document.getElementById('individuals').style.color = color;
    document.getElementById('organizations').style.color = color;
    document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    document.getElementById('censura').style.color = color;
    //document.getElementById('seglab').style.color = color;
    document.getElementById('segprof').style.color = color;
    document.getElementById('redes').style.color = color;
    document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      document.getElementById('individual_png').style.filter = 'invert(70%)';
      document.getElementById('organizations_png').style.filter = 'invert(70%)';
      document.getElementById('digital_png').style.filter = 'invert(70%)';
      document.getElementById('censura_png').style.filter = 'invert(70%)';
      //document.getElementById('seglab_png').style.filter = 'invert(70%)';
      document.getElementById('segprof_png').style.filter = 'invert(70%)';
      document.getElementById('redes_png').style.filter = 'invert(70%)';
      document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  }

  function Segprof(color) {
    document.getElementById('individuals').style.color = color;
    document.getElementById('organizations').style.color = color;
    document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    document.getElementById('censura').style.color = color;
    document.getElementById('seglab').style.color = color;
    //document.getElementById('segprof').style.color = color;
    document.getElementById('redes').style.color = color;
    document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      document.getElementById('individual_png').style.filter = 'invert(70%)';
      document.getElementById('organizations_png').style.filter = 'invert(70%)';
      document.getElementById('digital_png').style.filter = 'invert(70%)';
      document.getElementById('censura_png').style.filter = 'invert(70%)';
      document.getElementById('seglab_png').style.filter = 'invert(70%)';
      // document.getElementById('segprof_png').style.filter = 'invert(70%)';
      document.getElementById('redes_png').style.filter = 'invert(70%)';
      document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  }
  function Redes(color) {
    document.getElementById('individuals').style.color = color;
    document.getElementById('organizations').style.color = color;
    document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    document.getElementById('censura').style.color = color;
    document.getElementById('seglab').style.color = color;
    document.getElementById('segprof').style.color = color;
    //document.getElementById('redes').style.color = color;
    document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      document.getElementById('individual_png').style.filter = 'invert(70%)';
      document.getElementById('organizations_png').style.filter = 'invert(70%)';
      document.getElementById('digital_png').style.filter = 'invert(70%)';
      document.getElementById('censura_png').style.filter = 'invert(70%)';
      document.getElementById('seglab_png').style.filter = 'invert(70%)';
      document.getElementById('segprof_png').style.filter = 'invert(70%)';
      //document.getElementById('redes_png').style.filter = 'invert(70%)';
      document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  } function Otros(color) {
    document.getElementById('individuals').style.color = color;
    document.getElementById('organizations').style.color = color;
    document.getElementById('digitalsecurity').style.color = color;
    document.getElementById('evaluation').style.color = color;
    document.getElementById('library').style.color = color;
    document.getElementById('censura').style.color = color;
    document.getElementById('seglab').style.color = color;
    document.getElementById('segprof').style.color = color;
    document.getElementById('redes').style.color = color;
    //document.getElementById('otros').style.color = color;

    if (color == 'grey') {
      document.getElementById('individual_png').style.filter = 'invert(70%)';
      document.getElementById('organizations_png').style.filter = 'invert(70%)';
      document.getElementById('digital_png').style.filter = 'invert(70%)';
      document.getElementById('censura_png').style.filter = 'invert(70%)';
      document.getElementById('seglab_png').style.filter = 'invert(70%)';
      document.getElementById('segprof_png').style.filter = 'invert(70%)';
      document.getElementById('redes_png').style.filter = 'invert(70%)';
      //document.getElementById('otros_png').style.filter = 'invert(70%)';
    }
    if (color == 'white') {
      document.getElementById('individual_png').style.filter = 'invert(0%)';
      document.getElementById('organizations_png').style.filter = 'invert(0%)';
      document.getElementById('digital_png').style.filter = 'invert(0%)';
      document.getElementById('censura_png').style.filter = 'invert(0%)';
      document.getElementById('seglab_png').style.filter = 'invert(0%)';
      document.getElementById('segprof_png').style.filter = 'invert(0%)';
      document.getElementById('redes_png').style.filter = 'invert(0%)';
      document.getElementById('otros_png').style.filter = 'invert(0%)';
    }
  }
  function Calls(color) {
    //document.getElementById('calls').style.color = color;
    document.getElementById('chat').style.color = color;
    document.getElementById('security').style.color = color;
    document.getElementById('sensitive').style.color = color;
    document.getElementById('protect').style.color = color;
    document.getElementById('safe').style.color = color;
    document.getElementById('passwords').style.color = color;

  }
  function Chat(color) {
    document.getElementById('calls').style.color = color;
    //  document.getElementById('chat').style.color = color;
    document.getElementById('security').style.color = color;
    document.getElementById('sensitiveinfo').style.color = color;
    document.getElementById('protect').style.color = color;
    document.getElementById('safe').style.color = color;
    document.getElementById('passwords').style.color = color;
  }
  function Security(color) {
    document.getElementById('calls').style.color = color;
    document.getElementById('chat').style.color = color;
    //document.getElementById('security').style.color = color;
    document.getElementById('sensitiveinfo').style.color = color;
    document.getElementById('protect').style.color = color;
    document.getElementById('safe').style.color = color;
    document.getElementById('passwords').style.color = color;
  }
  function Sensitive(color) {
    document.getElementById('calls').style.color = color;
    document.getElementById('chat').style.color = color;
    document.getElementById('security').style.color = color;
    //document.getElementById('sensitiveinfo').style.color = color;
    document.getElementById('protect').style.color = color;
    document.getElementById('safe').style.color = color;
    document.getElementById('passwords').style.color = color;

  }
  function Protect(color) {
    document.getElementById('calls').style.color = color;
    document.getElementById('chat').style.color = color;
    document.getElementById('security').style.color = color;
    document.getElementById('sensitiveinfo').style.color = color;
    //document.getElementById('protect').style.color = color;
    document.getElementById('safe').style.color = color;
    document.getElementById('passwords').style.color = color;

  }
  function Safe(color) {
    document.getElementById('calls').style.color = color;
    document.getElementById('chat').style.color = color;
    document.getElementById('security').style.color = color;
    document.getElementById('sensitiveinfo').style.color = color;
    document.getElementById('protect').style.color = color;
    // document.getElementById('safe').style.color = color;
    document.getElementById('passwords').style.color = color;

  }
  function Passwords(color) {
    document.getElementById('calls').style.color = color;
    document.getElementById('chat').style.color = color;
    document.getElementById('security').style.color = color;
    document.getElementById('sensitiveinfo').style.color = color;
    document.getElementById('protect').style.color = color;
    document.getElementById('safe').style.color = color;
    document.getElementById('passwords').style.color = color;

  }
  function Corruption(color) {
    // document.getElementById('corruption').style.color = color;
    document.getElementById('cover').style.color = color;
    document.getElementById('attacks').style.color = color;
    document.getElementById('plan').style.color = color;
    document.getElementById('danger').style.color = color;

  } function Cover(color) {
    document.getElementById('corruption').style.color = color;
    //document.getElementById('cover').style.color = color;
    document.getElementById('attacks').style.color = color;
    document.getElementById('plan').style.color = color;
    document.getElementById('danger').style.color = color;

  } function Attacks(color) {
    document.getElementById('corruption').style.color = color;
    document.getElementById('cover').style.color = color;
    //document.getElementById('attacks').style.color = color;
    document.getElementById('plan').style.color = color;
    document.getElementById('danger').style.color = color;

  }
  function Plan(color) {
    document.getElementById('corruption').style.color = color;
    document.getElementById('cover').style.color = color;
    document.getElementById('attacks').style.color = color;
    // document.getElementById('plan').style.color = color;
    document.getElementById('danger').style.color = color;
  }
  function Danger(color) {
    document.getElementById('corruption').style.color = color;
    document.getElementById('cover').style.color = color;
    document.getElementById('attacks').style.color = color;
    document.getElementById('plan').style.color = color;
    // document.getElementById('danger').style.color = color;
  }
  function Ethic(color) {
    //document.getElementById('ethic').style.color = color;
    document.getElementById('stories').style.color = color;
    document.getElementById('good').style.color = color;
    document.getElementById('methods').style.color = color;
    document.getElementById('situation').style.color = color;
    document.getElementById('handle').style.color = color;
    document.getElementById('protocols').style.color = color;
    document.getElementById('corrcover').style.color = color;
  } function Stories(color) {
    document.getElementById('ethic').style.color = color;
    //document.getElementById('stories').style.color = color;
    document.getElementById('good').style.color = color;
    document.getElementById('methods').style.color = color;
    document.getElementById('situation').style.color = color;
    document.getElementById('handle').style.color = color;
    document.getElementById('protocols').style.color = color;
    document.getElementById('corrcover').style.color = color;
  } function Good(color) {
    document.getElementById('ethic').style.color = color;
    document.getElementById('stories').style.color = color;
    //document.getElementById('good').style.color = color;
    document.getElementById('methods').style.color = color;
    document.getElementById('situation').style.color = color;
    document.getElementById('handle').style.color = color;
    document.getElementById('protocols').style.color = color;
    document.getElementById('corrcover').style.color = color;
  }
  function Methods(color) {
    document.getElementById('ethic').style.color = color;
    document.getElementById('stories').style.color = color;
    document.getElementById('good').style.color = color;
    //document.getElementById('methods').style.color = color;
    document.getElementById('situation').style.color = color;
    document.getElementById('handle').style.color = color;
    document.getElementById('protocols').style.color = color;
    document.getElementById('corrcover').style.color = color;
  }
  function Situation(color) {
    document.getElementById('ethic').style.color = color;
    document.getElementById('stories').style.color = color;
    document.getElementById('good').style.color = color;
    document.getElementById('methods').style.color = color;
    //document.getElementById('situation').style.color = color;
    document.getElementById('handle').style.color = color;
    document.getElementById('protocols').style.color = color;
    document.getElementById('corrcover').style.color = color;
  } function Sensitive(color) {
    document.getElementById('ethic').style.color = color;
    document.getElementById('stories').style.color = color;
    document.getElementById('good').style.color = color;
    document.getElementById('methods').style.color = color;
    document.getElementById('situation').style.color = color;
    //document.getElementById('handle').style.color = color;
    document.getElementById('protocols').style.color = color;
    document.getElementById('corrcover').style.color = color;
  } function Protocols(color) {
    document.getElementById('ethic').style.color = color;
    document.getElementById('stories').style.color = color;
    document.getElementById('good').style.color = color;
    document.getElementById('methods').style.color = color;
    document.getElementById('situation').style.color = color;
    document.getElementById('').style.color = color;
    //document.getElementById('protocols').style.color = color;
    document.getElementById('corrcover').style.color = color;
  } function Cover(color) {
    document.getElementById('ethic').style.color = color;
    document.getElementById('stories').style.color = color;
    document.getElementById('good').style.color = color;
    document.getElementById('methods').style.color = color;
    document.getElementById('situation').style.color = color;
    document.getElementById('handle').style.color = color;
    document.getElementById('protocols').style.color = color;
    //  document.getElementById('corrcover').style.color = color;
  }
</script>
<div id="shadow" onclick="activeMenu()"></div>
<div id="drawer" class="drawer">
  <span class="subtitle" onclick="activeMenu()" translate> views.sidenav.menu </span>
  <h1 id="evaluation" class="title" translate> views.sidenav.evaluation </h1>
  <div layout="row" class="icon-row-two">
    <img id="individual_png" src="images/indiv.png" height="20" width="15" alt="s" />
    <a href="#/evaluation-individual" onmouseover="Individuals('grey')" onmouseout="Individuals('white')" id="individuals"
      class="first-option-link" translate onclick="activeMenu()">views.evaluation.individuals
    </a>
  </div>
  <div layout="row" class="icon-row-organizations">
    <img src="images/org.png" id="organizations_png" height="18" width="31" alt="s" />
    <a onmouseover="Organizations('grey')" onmouseout="Organizations('white')" href="#/evaluation/organizations" id="organizations"
      class="first-option-link" translate onclick="activeMenu()">views.evaluation.organizations
    </a>
  </div>
  <h1 href="" id="library" class="title" translate>views.sidenav.library </h1>
  <div class="row" onmouseover="Toggle()" onmouseout="UnToggle()">
    <div layout="row" onmouseover="DigitalSecurity('grey')" onmouseout="DigitalSecurity('white')" class="icon-row">
      <img id="digital_png" src="images/otros.png" height="22" width="20" alt="" />
      <a href="" id="digitalsecurity" class="first-option" translate>
        views.sidenav.security </a>
    </div>
    <div id="subdrawer" onmouseover="DigitalSecurity('grey')" onmouseout="DigitalSecurity('white')" class="subdrawer">
      <ul>
        <a onmouseover="Calls('grey')" onmouseout="Calls('white')" id="calls" class="mediumtitle" href="#/article/calls"
          translate onclick="activeMenu()"> views.sidenav.calls</a>
      </ul>
      <ul>
        <a onmouseover="Chat('grey')" onmouseout="Chat('white')" id="chat" class="mediumtitle" href="#/article/chat"
          translate onclick="activeMenu()"> views.sidenav.chat</a>
      </ul>
      <ul>
        <a onmouseover="Security('grey')" onmouseout="Security('white')" id="security" class="mediumtitle" href="#/article/digital_security"
          translate onclick="activeMenu()">
          views.sidenav.security</a>
      </ul>
      <ul>
        <a onmouseover="Sensitive('grey')" onmouseout="Sensitive('white')" id="sensitiveinfo" class="mediumtitle" href="#/article/information_corruption_mail"
          translate onclick="activeMenu()">
          views.sidenav.sensitive</a>
      </ul>
      <ul>
        <a onmouseover="Protect('grey')" onmouseout="Protect('white')" id="protect" class="mediumtitle" href="#/article/mail"
          translate onclick="activeMenu()">
          views.sidenav.protect</a>
      </ul>
      <ul>
        <a onmouseover="Safe('grey')" onmouseout="Safe('white')" id="safe" class="mediumtitle" href="#/article/navigation"
          translate onclick="activeMenu()">
          views.sidenav.navigation</a>
      </ul>
      <ul>
        <a onmouseover="Passwords('grey')" onmouseout="Passwords('white')" id="passwords" class="mediumtitle" href="#/article/passwords"
          translate onclick="activeMenu()">views.sidenav.passwords</a>
      </ul>
    </div>
  </div>
  <div class="row" onmouseover="Toggle2()" onmouseout="UnToggle2()">
    <div layout="row" class="row-padded">
      <img id="censura_png" src="images/censura.png" height="22" width="20" alt="s" />
      <h1 id="censura" onmouseover="Censored('grey')" onmouseout="Censored('white')" class="first-option" translate>
        views.sidenav.censored </h1>
    </div>
    <div id="subdrawer2" onmouseover="Censored('grey')" onmouseout="Censored('white')" class="subdrawer2">
      <ul>
        <a class="mediumtitle" href="#/article/corruption" translate onclick="activeMenu()">views.sidenav.corruption</a>
      </ul>
    </div>
  </div>
  <div class="row" onmouseover="Toggle3()" onmouseout="UnToggle3()">
    <div layout="row" class="icon-row">
      <img id="seglab_png" src="images/seglab.png" height="22" width="20" alt="s" />
      <h1 id="seglab" onmouseover="Seglab('grey')" onmouseout="Seglab('white')" class="first-option" translate>
        views.sidenav.worksecurity </h1>
    </div>
    <div id="subdrawer3" onmouseover="Seglab('grey')" onmouseout="Seglab('white')" class="subdrawer3">
      <ul>
        <a onmouseover="Corruption('grey')" onmouseout="Corruption('white')" id="corruption" class="mediumtitle" href="#/article/corruption_information"
          translate onclick="activeMenu()">views.sidenav.corruptioneinfo</a>
      </ul>
      <ul>
        <a onmouseover="Cover('grey')" onmouseout="Cover('white')" id="cover" class="mediumtitle" href="#/article/crime_corruption"
          translate onclick="activeMenu()">views.sidenav.corruptioncover</a>
      </ul>
      <ul>
        <a onmouseover="Attacks('grey')" onmouseout="Attacks('white')" id="attacks" class="mediumtitle" href="#/article/threat"
          translate onclick="activeMenu()">views.sidenav.attacks</a>
      </ul>
      <ul>
        <a onmouseover="Plan('grey')" onmouseout="Plan('white')" id="plan" class="mediumtitle" href="#/article/violence_plan"
          translate onclick="activeMenu()">views.sidenav.plan</a>
      </ul>
      <ul>
        <a onmouseover="Danger('grey')" onmouseout="Danger('white')" id="danger" class="mediumtitle" href="#/article/zone_protocols"
          translate onclick="activeMenu()">views.sidenav.dangareas</a>
      </ul>
    </div>
  </div>
  <div class="row" onmouseover="Toggle4()" onmouseout="UnToggle4()"">
    <div layout=" row" class="icon-row">
    <img id="segprof_png" src="images/segprof.png" height="22" width="20" alt="d" />
    <h1 id="segprof" onmouseover="Segprof('grey')" onmouseout="Segprof('white')" class=" first-option" translate>
      views.sidenav.prosecurity </h1>
  </div>
  <div id="subdrawer4" onmouseover="Segprof('grey')" onmouseout="Segprof('white')" class="subdrawer4">
    <ul>
      <a id="ethic" onmouseover="Ethic('grey')" onmouseout="Ethic('white')" class="mediumtitle" href=" #/article/etic"
        translate onclick="activeMenu()">views.sidenav.ethic</a>
    </ul>
    <ul>
      <a id="stories" onmouseover="Stories('grey')" onmouseout="Stories('white')" class="mediumtitle" href="#/article/information"
        translate onclick="activeMenu()">views.sidenav.stories</a>
    </ul>
    <ul>
      <a id="good" onmouseover="Good('grey')" onmouseout="Good('white')" class="mediumtitle" href=" #/article/network"
        translate onclick="activeMenu()">views.sidenav.communication</a>
    </ul>
    <ul>
      <a id="methods" onmouseover="Methods('grey')" onmouseout="Methods('white')" class="mediumtitle" href="#/article/plan"
        translate onclick="activeMenu()">views.sidenav.methods</a>
    </ul>
    <ul>
      <a id="situation" onmouseover="Sintuation('grey')" onmouseout="Sintuation('white')" class="mediumtitle" href="#/article/professional"
        translate onclick="activeMenu()">views.sidenav.professional</a>
    </ul>
    <ul>
      <a id="handle" onmouseover="Sensitive('grey')" onmouseout="Sensitive('white')" class="mediumtitle" href="#/article/sinformation"
        translate onclick="activeMenu()">views.sidenav.handle</a>
    </ul>
    <ul>
      <a id="protocols" onmouseover="Protocols('grey')" onmouseout="Protocols('white')" class="mediumtitle" href="#/article/threat_protocols"
        translate onclick="activeMenu()">views.sidenav.protocols</a>
    </ul>
    <ul>
      <a id="corrcover" onmouseover="Cover('grey')" onmouseout="Cover('white')" class="mediumtitle" href="#/article/violence"
        translate onclick="activeMenu()">views.sidenav.corruptioncover</a>
    </ul>
  </div>
</div>

<div class="row" onmouseover="Toggle5()" onmouseout="UnToggle5()">
  <div layout=" row" class=" icon-row">
    <img id="redes_png" src="images/redes.png" height="22" width="20" alt="d" />
    <h1 id="redes" onmouseover="Redes('grey')" onmouseout="Redes('white')" class=" first-option" translate>
      views.sidenav.networksecurity </h1>
  </div>
  <div id="subdrawer5" onmouseover="Redes('grey')" onmouseout="Redes('white')" class="subdrawer5">
    <ul>
      <a class="mediumtitle" href="#/article/violence_boss" translate onclick="activeMenu()">views.sidenav.improvecomm</a>
    </ul>
  </div>
</div>
<div class="row" onmouseover="Toggle6()" onmouseout="UnToggle6()">
  <div layout=" row" class=" icon-row">
    <img id="otros_png" src="images/otros.png" height="22" width="20" alt="ds" />
    <h1 id="otros" onmouseover="Otros('grey')" onmouseout="Otros('white')" class=" first-option" translate>
      views.sidenav.others </h1>
  </div>
  <div id="subdrawer6" onmouseover="Otros('grey')" onmouseout="Otros('white')" class="subdrawer6">
    <ul>
      <a class="mediumtitle" href="#/article/extreme" translate onclick="activeMenu()">views.sidenav.extreme</a>
    </ul>
    <ul>
      <a class="mediumtitle" href="#/article/high" translate onclick="activeMenu()">views.sidenav.high</a>
    </ul>
    <ul>
      <a class="mediumtitle" href="#/article/low" translate onclick="activeMenu()">views.sidenav.medium</a>
    </ul>
    <ul>
      <a class="mediumtitle" href="#/article/moderate" translate onclick="activeMenu()">views.sidenav.down</a>
    </ul>
  </div>
</div>
</div>
<header layout layout-align="center center" layout-wrap ng-controller="HeaderCtrl as header" style="{{header.lang == 'ar_AE' && 'text-align:right!important'}}">
  <!--Sidenav-->
  <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2 header-sidenav">
    <md-toolbar class="md-toolbar-tools">

      <md-button class="sideButton" ng-click="header.changeStateSide()">
        <img src="images/icon_salama.png">
        <div>Menu</div>
      </md-button>

    </md-toolbar>
    <div class="sidenav-block">
      <h3 translate>views.sidenav.evaluation</h3>
      <p>
        <a href="{{header.individuals}}" ng-click="header.changeStateSide()" translate>
          views.sidenav.individuals
        </a>
      </p>
      <p>
        <a href="#/evaluation/organizations" ng-click="header.changeStateSide()" translate>
          views.sidenav.organizations
        </a>
      </p>
    </div>
    <div class="sidenav-block">
      <h3 translate>views.sidenav.library</h3>
      <div ng-repeat="category in header.categories">
        <p>{{category}}</p>
        <ul>
          <li ng-repeat="meta in header.metadata[category]">
            <a ng-href="{{'#/article/' + meta.path}}" ng-click="header.changeStateSide()">
              {{meta.title}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </md-sidenav>

  <md-toolbar class="md-toolbar-tools animate header-fixed">
    <div class="container" layout layout-align="space-between center">
      <div layout layout-align="space-between center" class="header-left">
        <a href="#/" layout layout-align="center center" class="header-logo">
          <img src="images/icon_salama.png">
        </a>

        <md-button class="header-menu-left" onclick="activeMenu()">
          <md-icon md-svg-icon="images/menu.svg" class="header-menu-logo">
          </md-icon>
          Menu
        </md-button>
      </div>
      <div layout layout-align="space-between center" class="header-right">

        <div>
          <md-button class="header-lang" ng-click="header.showLangOptions = !header.showLangOptions">
            <md-icon md-svg-icon="images/lang.svg">
            </md-icon>
            <span translate>views.main.lang</span>
          </md-button>
          <md-content layout="column" ng-show="header.showLangOptions" class="header-lang-options">
            <md-button class="legend">
              <span translate>views.main.suggest</span>
            </md-button>
            <md-button ng-click="header.changeLang('es_MX')">
              Español
            </md-button>
            <md-button ng-click="header.changeLang('en_US')">
              English
            </md-button>
            <md-button ng-click="header.changeLang('ar_AE')">
              العربي
            </md-button>

          </md-content>
        </div>
      </div>
    </div>
  </md-toolbar>

</header>
<!--endSidenav-->