<md-content layout layout-align="center center" layout-wrap layout-fill
  class="content-home"
>
    <div flex="100"
      class="home-logo"
    >
      <img src="images/logo_salama.png">
    </div>

    <div layout layout-align="center center" layout-wrap
      flex="100"
      class="home-description"
    >
      <h2 flex="100" translate>views.home.title</h2>
      <p flex="100" translate>
        views.home.subtitle
      </p>
    </div>
    <div layout="row" layout-align="space-around center" layout-wrap
      class="home-choices container-md"
    >
      <md-button ng-href="#/evaluation"
        flex-gt-sm="40" flex="100" layout-wrap
      >
        <span translate>views.home.evaluation</span>
      </md-button>
      <md-button ng-click="home.changeStateSide()"
        flex-gt-sm="40" flex="100"
      >
        <span translate>views.home.library</span>
      </md-button>
      <div class="video-container container-md animate">
        <a class="icon-video" ng-click="home.showVideo()" flex="20"></a>
        <p translate>views.home.video</p>
      </div>
    </div>
</md-content>
