<md-content layout layout-align="center center" layout-wrap layout-fill
  class="content-home"
>
    <div flex="100"
      class="home-logo"
    >
      <img src="images/logo_salama.png">
    </div>

    <div layout layout-align="center center" layout-wrap
      flex="100"
      class="home-description"
    >
      <h2 flex="100">Lorem Ipsum Dolor Sit Amet</h2>
      <p flex="100">
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
      </p>
    </div>
    <div layout="row" layout-align="space-around center" layout-wrap
    layout-xs="column"
      class="home-choices container-md"
    >
      <md-button ng-href="#/evaluation"
        flex="45" flex-xs="100" layout-wrap
      >
        <span translate>views.home.evaluation</span>
      </md-button>
      <md-button ng-href="" ng-click="home.changeStateSide()"
        flex="45" flex-xs="100"
      >
        <span translate>views.home.library</span>
      </md-button>
    </div>
</md-content>
