<md-content layout layout-align="center center" class="content-home">
  <div layout="column" flex="100" flex-md="80" flex-gt-md="50" class="home">
    <div class="home-logo " flex>
      <!-- <h1>Salama <h1> -->
        <img src="images/logo_salama.png">
    </div>
    <div class="home-description " flex>
      <h2>Lorem Ipsum Dolor Sit Amet</h2>
      <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
    </div>
    <div layout="row" layout-align="space-around center" layout-wrap
      class="home-choices "
    >

      <md-button class="" ng-href="#/evaluation" flex="45" flex-xs="90"
        class="button-choice"
      >
        <span translate>views.home.evaluation</span>
      </md-button>

      <md-button class="" ng-href="" ng-click="home.changeStateSide()" flex="45" flex-xs="90"
        class="button-choice"
      >
        <span translate>views.home.library</span>
      </md-button>

    </div>
  </div>
</md-content>
